<br><h2>Create New Period Here!</h2><br><br>

<form class="" action="/periods/new" method="POST"> 
    <label for="month">Month:</label>
    <input type="string" name="month" id="month" value="">

    <label for="start_day">First Day of Period:</label>
    <input type="integer" name="start_day" id="start_day" value="">
    <br><br>
    <label for="note">Note:</label>
    <input type="text" name="note" id="note" value="" >
    <br><br>
    <input type="submit" name="" value="Save Period">

    <br><br><a href="/">Home</a>
</form>