<h2>Sign-Up Here!</h2><br><br>

<form class="" action="/signup" method="POST"> 
    <label for="name">Name:</label>
    <input type="text" name="name" id="email" value="">

    <label for="email">Email:</label>
    <input type="text" name="email" id="email" value="">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" value="" >

    <input type="submit" name="" value="Create User">

    <br><br><a href="/">Home</a>
</form>