


<h2>Please log in</h2><br><br>

<form class="" action="/login" method="POST"> 
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" value="">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" value="" >

    <input type="submit" name="" value="Log in">

    <br><br><a href="/logout">Home</a> 

</form>
