<h1>Please log in</h1>

<form class="" action="/login" method="post"> 
    <label for="email" >Email: </label>
    <input type="text" name="email" value="" id="email">

    <label for="password" >Password: </label>
    <input type="text" name="password" value="" id="password">

    <input type="submit" name="password" value="Log in">

</form>
