<div class="container">
  <header><img src="images/red-dots.svg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Period.Tracker App</h2>

    <div class="content">
      <p>Welcome to PeriodTracker! If you're here, you want to keep track of your menstrual cycle to know when your PMS symptoms will likely start. <br><br>To begin, <a href="/signup">Sign Up</a>.</p>
      <br>If you already have an account, <a href="/login">Sign In</a>.</p>
    </div>

    <div class="sidebar">
      <h3>Monthly Tips:</h3>
      <ul>
        <li><b>- Get regular aerobic physical activity.</b></li>
        <li><b>- Avoid caffeine, alcohol, and sweets.</b></li>
        <li><b>- Get enough sleep.</b></li>
      </ul>
    </div>

  </div>
</div>
